/* 
|| HTML
	|| Audio:
		<audio controls>
		  <source src="viper.mp3" type="audio/mp3">
		  <source src="viper.ogg" type="audio/ogg">
		  <p>Your browser doesn't support HTML5 audio. 
		  Here is a <a href="viper.mp3">link to the audio</a> 
		  instead.</p>
		</audio>


	|| Código programación: 
		<pre>
			<code>
			var for = document.querySelector('p');

			for.onclick = function() {
			  alert('¡Guau!, ¡deja de apretar!');
			}
			</code>
		</pre>

		<code>&lt;font&gt;</code>

		<var>for</var>

		<kbd>Ctrl</kbd>/<kbd>Cmd</kbd>

		<pre>
			$ <kbd>ping mozilla.org</kbd>
			<samp>
			PING mozilla.org (63.245.215.20): 56 bytes de datos
			64 bytes de 63.245.215.20: icmp_seq=0 ttl=40 time=158.233 ms
			</samp>
		</pre>
	
	
	|| Dirección de contacto:
			<address>
			  <p>Dirección de contacto:</p>
			  <ul>
			    <li>Tel: 01234 567 890</li>
			    <li>Email: me@grim-north.co.uk</li>
			  </ul>
			</address>


	|| Enlace de descarga:
		Se usa para darle un nombre al archivo que el usuario
		va a descargar</p>
		<a
		  href="https://download.mozilla.org/?product=firefox-latest-ssl&os=win64&lang=es-MX"

		  download="firefox-latest-64bit-installer.exe">
		  Descarga la última versión de Firefox para Windows (64 bits) (Español, es-MX)
		</a>
	
	
	|| Fecha y hora:
		Fecha simple estándar 
		<time datetime="2016-01-20">20 Enero 2016</time>

		Solo año y mes 
		<time datetime="2016-01">Enero 2016</time>

		Solo mes y día 
		<time datetime="01-20">20 Enero 2016</time>

		Solo tiempo, horas y minutos 
		<time datetime="19:30">19:30</time>

		¡También puedes hacer segundos y milisegundos!
		<time datetime="19:30:01.856">19:30:01.856</time>

		Fecha y hora
		<time datetime="2016-01-20T19:30">7.30pm, 20 Enero 2016</time>

		Fecha y hora con desplazamiento de zona horaria
		<time datetime="2016-01-20T19:30+01:00"
		>7.30pm, 20 Enero 2016 es 8.30pm en Francia</time>

		Llamar a un número de semana específico
		<time datetime="2016-W04">La cuarta semana de 2016</time>


	|| Formulario de busqueda (no lineal): 
		<nav>	
			<form>
        		<input type="search" name="q" placeholder="Buscar" />
        		<input type="submit" value="¡Vamos!" />
      		</form>
      	</nav>


	|| Imágenes:

		Imagen:
		<figure>
		  <img src="images/dinosaur.jpg"
		  alt="La cabeza y el torso de un esqueleto de dinosaurio; tiene una cabeza grande con dientes largos y afilados" 
		  width="400"
		  height="341">
		  <figcaption>
		  Exposición de un T-Rex en el museo de la Universidad de Manchester.
		  </figcaption>
		</figure>

	    Imagen con enlace:
		<a href="https://developer.mozilla.org/">
		  <img src="mdn-logo-sm.png" alt="MDN"></a>
		  title="Logo del navegador Mozilla Firefox".
		</a>

		Imagenes responsivas HTML:

			imagenes responsivas:
			<img srcset="elva-fairy-320w.jpg 320w,
             elva-fairy-480w.jpg 480w,
             elva-fairy-800w.jpg 800w"
     		 sizes="(max-width: 320px) 280px,
             (max-width: 480px) 440px,
             800px"
             src="elva-fairy-800w.jpg" alt="Elva dressed as a fairy">
			
			zoom y fallback (src):
			<img srcset="elva-fairy-320w.jpg,
             elva-fairy-480w.jpg 1.5x,
             elva-fairy-640w.jpg 2x"
     		 src="elva-fairy-640w.jpg" alt="Elva dressed as a fairy">

			dirección de imagen:
			<img src="elva-800w.jpg" alt="Chris standing up holding his daughter Elva">

			<picture>
			  <source media="(max-width: 799px)" srcset="elva-480w-close-portrait.jpg">
			  <source media="(min-width: 800px)" srcset="elva-800w.jpg">
			  <img src="elva-800w.jpg" alt="Chris standing up holding his daughter Elva">
			</picture>

			formatos modernos:
			<picture>
			  <source type="image/svg+xml" srcset="pyramid.svg">
			  <source type="image/webp" srcset="pyramid.webp">
			  <img src="pyramid.png" alt="regular pyramid built from four equilateral triangles">
			</picture>

	
	|| Incrustar:
		<object type="application/pdf"
		    data="/media/examples/In-CC0.pdf"
		    width="250"
		    height="200">
		</object>	
		
		<embed
		  type="video/quicktime"
		  src="movie.mov"
		  width="640"
		  height="480"
		  title="Title of my video" />

		<iframe src="https://developer.mozilla.org/en-US/docs/Glossary"
			width="100%" height="500" frameborder="0"
			allowfullscreen sandbox>
			<p> <a href="https://developer.mozilla.org/en-US/docs/Glossary">
			Fallback link for browsers that don't support iframes
			</a> </p>
	    </iframe>


	|| Lenguaje:
		<html lang="es-MX"></html>
		<p>Ejemplo Japonés: <span lang="ja">ご飯が熱い。</span>.</p>
	

	|| Lista descriptiva:
		<dl>
			<dt>Titulo</dt>
				<dd>descripción/parrafo</dd>
		</dl>

		
	|| Validar HTML, CSS: 
		https://validator.w3.org/


	|| Video:
		<video controls width="400" height="400"
		  autoplay loop muted
		  poster="poster.png">
		  <source src="rabbit320.mp4" type="video/mp4">
		  <source src="rabbit320.webm" type="video/webm">
		  <p>Your browser doesn't support HTML5 video. Here is a <a href="rabbit320.mp4">link to the video</a> instead.</p>
		</video>

		subs:
		<video controls>
		    <source src="example.mp4" type="video/mp4">
		    <source src="example.webm" type="video/webm">
		    <track kind="subtitles" src="subtitles_en.vtt" srclang="en">
		</video>


	|| Texto y Resaltado:
		abreviatura:
			<abbr title="Lenguaje de marcado de hipertexto">HTML</abbr> 

		enfasis ligero y fuerte (advertencia, etc): 
			<em></em> y <strong></strong>
 		
 		resaltado visual sin importancia en la semantica/interpretación del navegador:
 			<i>cursiva/italica</i>, <b>negrita</b> y <u>subrrayado</u>
 		
 		citas:
 			<blockquote	cite="https://developer.mozilla.org/es/docs/Web/HTML/Element/blockquote">
			<p> indica que el texto al que delimita es una cita ampliada. </p>
			</blockquote>
			
			<q cite="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/q"> 
			utiliza en para citas breves que no requieren saltos de párrafo.</q>	
			
			<cite>página de MDN</cite>

		subíndice y superíndice:
			<p>Si x<sup>2</sup> es 9, x debe ser igual 3 o -3.</p>

			<p>
			  La fórmula química de la cafeína es
			  C<sub>8</sub>H<sub>10</sub>N<sub>4</sub>O<sub>2</sub>.
			</p>
	

	|| Svg:
		<img
		src="equilateral.svg"
		alt="triangle with all three sides equal"
		height="87"
		width="100" />

		fallback:
		<img src="equilateral.png" alt="triangle with equal sides" 
		srcset="equilateral.svg">
	

	|| Tablas:
	
	Tabla con filas y columnas:
	<table>
        <tr> <!-- una fila-->
            <td>musica</td> <!-- tres columnas-->
            <td>vida</td>
            <td>champagne</td>
        </tr>
    </table>

    Indicar si cada columna(td) sea un titulo en la tabla. Usando la etiqueta th:
    <table>
        <tr> <!-- una fila-->
            <th>musica</th> <!-- tres columnas-->
            <th>vida</th>
            <th>champagne</th>
        </tr>
    </table>
*/		